body {
  background:url(/images/background.jpg)
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position:50% 50%;
  background-size: 100% 100%;
}

//页面上menu那部分class是 .header-inner
.header-inner {
  opacity: 0.7;
}

.main-inner {
    opacity: 0.7;
}
